@{
	Layout = "_Layout.cshtml";
}

<figure>
	<img src="@($"/{Model.Destination.Parent}/{Model.Destination.FileNameWithoutExtension}.jpg")" alt="@Model.GetTitle()" />
</figure>

<figcaption>    
    <h1>@Model.GetTitle()</h1>
	@RenderBody()
</figcaption>
