ArchiveSources: => GetString("PostSources")
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchivePageSize: 100
---

@{
	Layout = "_Layout.cshtml";
}

<main>
	<h1>Sleeping With Eyes Open</h1>

	<ul>
	@foreach (var post in Model.GetChildren()) {
		<li><a href="@post.GetLink()">
			<img src="@($"{post.Destination.Parent}/{post.Destination.FileNameWithoutExtension}.256.jpg")" alt="@post.GetTitle()" />
		</a></li>
	}
	</ul>
</main>

<footer>
	Powered by Insomnia Theme
</footer>
