body, figure {
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

.icon {
	font-size: 2rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	text-align: center;
}

main ul {
	display: flex;
	list-style-type: none;
	gap: 1rem;
}

main ul a img {
	object-fit: cover;
	width: 15vw;
	aspect-ratio: 1/1;
	border-radius: 50%;
	opacity:0.7;
	filter:alpha(opacity=70);
	min-width: 10rem;
	min-height: 10rem;
}

main ul a img:hover {
	opacity:1.0;
	filter:alpha(opacity=100);
}

figure {
	display: flex;
	gap: 1rem;
}

figcaption {
	padding: 1rem;
	line-height: 2rem;
}

figcaption time {
	display: inline-block;
	font-style: italic;
	margin: 2rem 0;
}

figcaption nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

figure img {
	height: 100vh;
}

@media only screen and (max-aspect-ratio: 17/9) and (min-aspect-ratio: 4/3) {
	figure img {
		position: fixed;
		width: 100vw;
		object-fit: cover;
	}

	figcaption {
		position: absolute;
		top: 92vh;
		left: 5rem;
		min-width: 30vw;
		color: #fff;
		background: #000a;
	}
	
	figcaption nav a {
		color: #fff;
	}
}

@media only screen and (max-aspect-ratio: 4/3) {
	figure {
		flex-direction: column;
	}

	figure img {
		height: auto;
	}
}